html {
  scroll-behavior: smooth;
  font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
  overscroll-behavior-y: none;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
  /* background-color: #082032; */
  overflow-x: hidden;
  color: white;
  overscroll-behavior-y: none;
}

#root {
  margin: 0px;
  padding: 0px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.light-div {
  color: #1E242A;
  background-color: white;
}

body::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}